*{
    margin:0;
    padding: 0;
}
h1{
    color:#E8C07D;
    text-align: center;
}
h2{
    text-align: center;
}

img{ //esto está para que las imagenes en tamaño real no estorben por ahora
    width:50px;
}
