main{
    background-color: #57acb3;


    #carouselExampleAutoplaying{
    background-color:white;
    padding: 30px;

    }

    #nosotros{
        margin:40px;
    }
    #div-carrito{
        margin:20px;
        padding: 10px;
        border-radius: 30px;
        align-items: center;
        background-color: #e2b66a;
        .visible{display:flex; justify-content: center;}
        .oculto{display: none;}
            li{
                padding: 3px;
            }
            button{ margin:5px;}
    }
    #productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: start;
        margin: 10px;
        padding: 50px;
        div .card-body{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}